.container {
  min-width: 200px;
  width: 395px;
  height: 100%;
  margin-right: 20px;
  background-color: var(--color-surface);
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 0;

  overflow-y: scroll;
}

.symbol__info {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.symbol__progress__body {
  height: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.symbol__progress__line {
  border-radius: 10px;
}