.wrapper {
  width: 100%;
  overflow-x: auto;
}

.container {
  width: 1140px;
  margin: auto;
  display: flex;
  gap: 20px;

  overflow: hidden;
}

.items {
  max-width: 705px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.itemsThreeInRow {
  max-width: 415px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.item {
  width: 125px;
  height: 70px;
  background-color: hsla(44, 100%, 75%, 0.2);
  border-radius: 20px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item__red .item {
  background-color: hsla(0, 100%, 76%, 0.2);
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 110px;
  padding-top: 90px;
}

.rightColumn .item {
  background-color: hsla(215, 100%, 77%, 0.2);
}

@media (max-width: 1359px) {
  .alphabet-wrapper {
    padding-bottom: 20px;
  }
}