.container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  height: fit-content;
  max-height: 350px;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 20px;
  justify-content: start;
}

.button {
  background: var(--color-surface);
  width: auto;
  height: 60px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.button:hover {
  background:
    linear-gradient(var(--color-background-50), var(--color-background-50)),
    var(--color-surface);
}

.buttonMainText {
  color: var(--color-text);
}

.buttonSecondaryText {
  color: var(--color-text-secondary);
}

.symbolContainer {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.symbolCurent {
  font-size: 100px;
  font-weight: 350;
}

.resultMessage {
  width: 410px;
  height: 50px;

  border-radius: 20px;

  position: absolute;
  top: calc(100% + 100px);
  left: calc(50% - 205px);

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.resultMessageRed {
  background: var(--color-error-20);
  border: 1px solid var(--color-error-50);
}

.resultMessageGreen {
  background: var(--color-success-20);
  border: 1px solid var(--color-success-50);
}

.textInput {  
  justify-content: end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textInputWithSuggestions {
  height: 350px;
}

.textInputInput {
  width: 100%;
  max-width: 1285px;

  display: flex;
  gap: 20px;
}

.textInputInput input {
  height: 50px;
  width: 100%;
  padding: 0 20px;
  
  border: none;
  border-radius: 20px;
  background-color: var(--color-surface);
  color: var(--color-text);
}

.textInputInput input::placeholder {
  color: var(--color-secondary);
}

.textInputInput button {
  width: 270px;
  height: 50px;
  padding: 0 20px;

  border-radius: 20px;
  background-color: var(--color-primary);
  color: #FBFAFB;
}

.textInputInput input:focus-visible {
  outline: 2px solid var(--color-primary);
}

.suggestionsWrapper {
  width: 100%;
  max-width: 1285px;
  margin-bottom: 20px;

  flex: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.suggestions {
  max-height: 100%;
  border-radius: 20px;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 20px;
}

.suggestion {
  background: var(--color-surface);
  width: auto;
  height: 60px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.suggestion:hover {
  background:
    linear-gradient(var(--color-background-50), var(--color-background-50)),
    var(--color-surface);
}

@media (max-width: 400px) {
  .buttons, .suggestions {
    gap: 10px;
  }

  .textInputInput {
    gap: 10px;
  }

  .suggestionsWrapper {
    margin-bottom: 10px;
  }
}

@media (max-width: 550px) {
  .textInputInput {
    flex-direction: column;
  }

  .textInputInput button {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .buttons, .suggestions {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

@media (max-height: 900px) {
  .buttons {
    max-height: 300px;
  }

  .textInput {
    height: 300px;
  }

  .resultMessage {
    width: calc(100%);
    left: 0px;
    top: -7dvh;
  }
}

@media (max-height: 800px) {
  .buttons {
    max-height: 200px;
  }

  .textInput {
    height: 200px;
  }

  .resultMessage {
    width: calc(100%);
    left: 0px;
    top: -7dvh;
  }
}