.container {
  height: 100%;
  width: 100%;
  max-width: 850px;
  background-color: var(--color-surface);
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container section {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.container h2 {
  color: var(--color-text-secondary);
  font-weight: var(--medium);
}

.toggle {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 450px) {
  .container {
    padding: 20px;
    gap: 30px;
  }

  .container section {
    gap: 15px;
  }
}
