.container {
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modeSwitching, .actions {
  display: flex;
  gap: 50px;
}

/* HeaderIcon */

.icon {
  width: 24px;
  height: 24px;
  font-size: 16px;
  cursor: pointer;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon__img {
  width: 24px;
  height: 24px;
  color: var(--color-text-secondary);
}

.active {
  color: var(--color-text)
}

.text {
  color: var(--color-secondary);
  margin-top: 10px;
  display: none;
  transition: display 2s 0.5s;
}

.text__active {
  color: var(--color-text-secondary);
}

.icon:hover .text {
  display: block;
}

.level {
  width: 100%;
  max-width: 702px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: var(--color-surface);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .actions {
    display: none;
  }
  .container {
    flex-direction: column-reverse;
    height: fit-content;
    gap: 20px;
    padding: 0;
  }
}