.container {
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modeSwitching, .actions {
  display: flex;
  gap: 50px;
}

.level {
  width: 100%;
  max-width: 702px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: var(--color-surface);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* HeaderIcon */

.icon {
  width: 24px;
  height: 24px;
  font-size: 16px;
  cursor: pointer;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.iconImg {
  width: 24px;
  height: 24px;
  color: var(--color-text-secondary);
}

.iconActive {
  color: var(--color-text)
}

.icon:hover .text {
  opacity: 1;
}

.text {
  color: var(--color-secondary);
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity .1s;
}

.textActive {
  color: var(--color-text-secondary);
}

@media (max-width: 600px) {
  .actions {
    display: none;
  }
  .container {
    flex-direction: column-reverse;
    height: fit-content;
    gap: 20px;
    padding: 0;
  }
}