@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select,
a {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

:root {
  --color-background: #261F32;
  --color-surface: #41394F;
  --color-secondary: #625D73;

  --color-primary: #594BA0;

  --color-text: #FBFAFB;
  --color-text-secondary: #86819E;

  --color-success-20: hsla(89, 100%, 37%, 0.2);
  --color-success-50: hsla(89, 100%, 37%, 0.5);

  --color-error-20: hsla(6, 77%, 52%, 0.2);
  --color-error-50: hsla(6, 77%, 52%, 0.5);

  --color-background-50: hsla(262, 23%, 16%, 0.5);
  --color-surface-25: hsla(262, 16%, 27%, 0.25);

  --color-progress-bar: var(--color-text-secondary);

  --light: 300;
  --medium: 500;
}

[data-theme="light"] {
  --color-background: #F5F3FB;
  --color-surface: #CAC4E9;
  --color-secondary: #625D73;

  --color-primary: #594BA0;

  --color-text: #261F32;
  --color-text-secondary: #41394F;

  --color-background-50: hsla(300, 11%, 98%, 0.5);
  --color-surface-25: hsla(250, 46%, 84%, 0.25);

  --color-progress-bar: var(--color-background);
}

body {
  margin: 0;
  font-family: "Albert Sans", "Inter", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: var(--light);
}

#root {
  max-width: 100%;
}